body {
  margin: 0;
  padding: 0;
  background-color: #222222;
  color: white;
  font-family: "Jost", sans-serif;
}

a {
  color: lightblue;
}

a:visited {
  color: indianred;
}

.nadpis {
  font-size: 25px;
}

.info {
  font-size: 20px;
  max-width: 75vw;
  margin-bottom: 20px;
}

.content-area {
  margin-left: 10px;
  margin-right: 10px;
}

.tabulka {
  font-size: 20px;
}

.tabulka tr {
  border-bottom: 1px solid white;
}

.tabulka tr:last-child {
  border-bottom: none;
}

.tabulka td {
  border-left: 1px solid white;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.tabulka td:first-child {
  border-left: none;
}
