body {
  margin: 0;
  padding: 0;
  background-color: #222222;
  color: white;
  font-family: "Jost", sans-serif;
}

a {
  color: lightblue;
}

a:visited {
  color: indianred;
}

.nadpis {
  font-size: 25px;
}

.info {
  font-size: 20px;
  max-width: 75vw;
  margin-bottom: 20px;
  text-align: justify;
}

.content-area {
  margin-left: 40px;
  margin-right: 40px;
}

.tabulka {
  font-size: 20px;
}

@media screen and (max-width: 1000px) {
  .tabulka {
    font-size: 50px;
  }
}

.tabulka tr {
  border-bottom: 1px solid white;
}

.tabulka tr:last-child {
  border-bottom: none;
}

.tabulka td {
  border-left: 1px solid white;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.tabulka td:first-child {
  border-left: none;
}

.flex {
  display: flex;
  font-size: 20px;
}

.even {
  justify-content: space-evenly;
}

.between {
  justify-content: space-between;
}

.center {
  justify-content: center;
}

.start {
  justify-content: start;
}

.end {
  justify-content: end;
}

@media screen and (max-width: 1000px) {
  .flex {
    font-size: 50px;
  }
}

.button {
  text-align: center;
  padding: 10px;
}

@media screen and (max-width: 1000px) {
  .button {
    font-size: 40px;
  }
}
